<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ProduitServlet</servlet-name>
    <servlet-class>net.javaguides.productmanagement.web.ProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AjoutProduitServlet</servlet-name>
    <servlet-class>net.javaguides.productmanagement.web.AjoutProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutProduitServlet</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
</web-app>

